/* input field */
.form-input-phone .form-item,
.form-input-phone .form-item label {
  display: inline;
}
.form-input-phone,
.form-input-phone .form-item label {
  margin-left: 1em;
  margin-right: .5em;
}

/* admin settings */
.phone-settings .form-checkboxes .form-item {
  float: left;
  width: 33%;
}

.phone-settings .phone-default-country {
  background: #eee;
  font-weight: bold;
}